@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
:root {
  --deep_blue: hsl(233, 47%, 7%);
  --dsat_blue: hsl(244, 38%, 16%);
  --soft_violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --white_lite_a: hsla(0, 0%, 100%, 0.75);
  --white_lite_b: hsla(0, 0%, 100%, 0.6);
  --font_primary: "Inter", sans-serif;
  --font_secondary: "Lexend Deca", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: var(--deep_blue);
}
html h1,
body h1 {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: var(--font_primary);
}
main .card {
  margin: 50px 20px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
  background-color: var(--dsat_blue);
}
@media (min-width: 1200px) {
  main .card {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
main .card_content {
  padding: 10px;
  width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 1200px) {
  main .card_content {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
  }
}
main .card_content h2 {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.5px;
  margin: 20px 0px;
  color: var(--white);
}
main .card_content h2 span {
  color: var(--soft_violet);
}
@media (min-width: 1200px) {
  main .card_content h2 {
    text-align: left;
    max-width: 400px;
    font-size: 36px;
    margin: 20px 50px;
  }
}
main .card_content p {
  color: var(--white_lite_a);
  line-height: 25px;
  text-align: center;
  max-width: 400px;
}
@media (min-width: 1200px) {
  main .card_content p {
    text-align: left;
    max-width: 350px;
    font-size: 15px;
    margin: 20px 50px;
  }
}
main .card_img {
  height: 350px;
  width: 100%;
  overflow: hidden;
  background: #c04848;
  /* fallback for old browsers */
  background: linear-gradient(var(--soft_violet), var(--soft_violet)), url("../images/image-header-desktop.jpg");
  /* Chrome 10-25, Safari 5.1-6 */
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  main .card_img {
    width: 600px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
  }
}
main .card_img img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}
main .card_stats {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-top: 20px;
  flex-direction: column;
}
@media (min-width: 1200px) {
  main .card_stats {
    align-items: flex-start;
    width: 400px;
    margin: 0px 40px;
    margin-top: 50px;
    flex-direction: row;
  }
}
main .card_stats small {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  color: var(--white);
  line-height: 24px;
}
@media (min-width: 1200px) {
  main .card_stats small {
    text-align: left;
  }
}
main .card_stats small span {
  display: block;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: var(--font_secondary);
  color: var(--white_lite_b);
}

.attribute {
  display: flex;
  margin: 50px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font_primary);
  font-size: 14px;
  color: var(--white_lite_b);
}
.attribute a {
  font-family: var(--font_secondary);
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
}

/*# sourceMappingURL=styles.css.map */
